<h1>All Games</h1>

<div class="list-group">
    <% @games.each do |game| %>
        <div class="list-group-item">
            <%= link_to game.name, game_path(game) %>
        </div>
    <% end %>
</div>